.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

single-page-project/node_modules
single-page-project/dist
single-page-project/.env.local
single-page-project/.env.*.local

multi-page-project/node_modules
multi-page-project/dist
multi-page-project/.env.local
multi-page-project/.env.*.local